/* CSS Document */

body {
	font-size: 20px;
	@include Neutraface2Text-Book;
	line-height: (24 / 16);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-grey;
}


h1,h2,h3,h4,h5,h6{
	margin: 0;
	@include font-atrament;
}
h3 {
	font-size: em(32px);
	letter-spacing: 0.05em;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: $color-grey;
	&:hover, &:visited, &:focus{
		color: $color-grey;
		text-decoration: none !important;
	}
}

/*
* {
	outline: 0px auto $color-yellow !important;
}
*/

.yellow {
	color: $color-yellow;
}



@include breakpoint-lt('sm') {
	body {
		font-size: em(15px);
	}		
}

h4{
	@include font-atrament-semibold;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-bottom: 15px;
	font-size: 23px;
}
.page-content-wrapper{
	a {
		color: $color-grey;
		text-decoration: underline;
		&:hover, &:visited, &:focus{
			color: $color-grey;
			text-decoration: underline;
		}
	}
	ul{
		padding-left: 0;
		margin-bottom: 20px;
		li{
			list-style: none;
			&:before{
				content: url('../../images/icon-list.png');
				top: -3px;
				margin-right: 15px;
	 			position: relative;
		 	}
		}
	}
}