<a name="competition-overview" id="competition-overview"></a>
<div class="before-content-spacer" data-spy="affix" data-offset-top="420"></div>
<div class="competition-before-content before-content" data-spy="affix" data-offset-top="420">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				Entries Close {{ content.entry_close_date | date('j M Y')}}
			</div>
			<div class="col-sm-4">
				<ul><li><a href="#competition-overview" class="active">Overview</a></li><li><a href="#competition-previous-winners">Previous Winners</a></li></ul>
			</div>
			<div class="col-sm-4">
				{% if content.entry_close_date | date('U') > date() | date('U') %}
					<a href="#" class="competition-button" data-modal="competition_modal">Enter Competition</a>
				{% else %}
					<a class="competition-button closed" disabled="disabled">Competition Closed</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>


<div id="modal-competition" class="modal-container">
	<a class="modal-overlay" href="#modalClose"></a>
	<div class="boh-modal">
		<a class="modal-close" href="#modalClose"></a>
		<div class="content">
			{{ function('do_shortcode','[gravityform id="5" ajax="true"]') }}
		</div>
	</div>
</div>
