<div class="section faqs">
	<div class="container">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="accordion">
			{% for faq in faqs %}
				<div class="card showless">
					<div class="title"><h4>{{faq.title}}</h4><div class="button-read-more" target-data="card"><button>Read More</button></div></div>
					<div class="card-content">{{faq.content}}</div>
				</div>
			{% endfor %}	
			</div>		
		</div>	
	</div>
</div>