<footer class="site-footer">
	<div class="container">
		<div class="acknowledge">
			We acknowledge the Traditional Owners of the places in which we live, work
			and play. We recognise and respect the enduring relationship they have with
			their lands and waters. We pay our respects to Elders past and present.
		</div>

		<a href="/" class="footer-logo">
			<img src="{{assets}}/images/header-logo.svg" alt="{{ site.name }}">
		</a>

		<div class="colophon">
			Copyright {{ "now"|date("Y") }} © Brisbane Open House<br/>
			PO Box 8316 Woolloongabba Qld 410
		<div>
	</div>
</footer>
