<div class="section instagram-feed">
	<div class="container">
		<div class="instagram-section-title">
			<h2>{{ content.feed_name }} Instagram</h2>
		</div>
	</div>
	<div class="instagram-feed-wrapper">
		{% filter shortcodes %}[instagram-feed]{% endfilter %}
	</div>
</div>