<div class="section newsletter">
	<div class="container">
		<div class="row">
		{% filter shortcodes %}
		<p align="center">	[gravityform id=1 title=true description=false ajax=true]</p>
		{% endfilter %}
		</div>
	</div>
</div>
