/* CSS Document */
footer {
	background-color: $background-color-footer;
	color: $color-black;
	min-height: 100px;
	font-size: 13px;
	@include Neutraface2Text-Book;
	display: flex;
    align-items: center;
	.footer-logo{
		img{
			height: 30px;
			float: right;
			width: auto;
		}
	}
	.footer-left {
		float: left;
		margin-top: 33px;
	}
	.footer-right {
		float: right;
	}
	
	// Sponsor logos
	.footer-left a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}	
	
	// Footer navigation
	nav {
		margin-top: 50px;
		
		a {
			display: inline-block;
			/*color: $color-blue;*/
			@include font-atrament-light;
			text-transform: uppercase;
			text-decoration: none;
			padding: 12px 0;
			margin-left: 36px;
			
			&:hover,
			&.active {
				text-decoration: underline;
			}
		}
		
		a:first-of-type {
			margin-left: 0;
		}
	}
	
	@include breakpoint-lt('lg') {
		nav a {
			margin-left: 20px;
		}
	}
	
	@include breakpoint-lt('md') {
		.footer-left {
			width: 280px;
			a { 
				margin: 0 10px 20px 0;
			}
		}
		nav a {
			font-size: em(14px);
		}
	}
	
	@include breakpoint-lt('sm') {
		height: auto;
		.container{
			display: flex;
			flex-direction: column-reverse;
			text-align: center;
			padding-top: 30px;
    		padding-bottom: 30px;
			.footer-logo{
				margin: 0 auto;
				float:none;
				display: inline-block;
				margin-bottom: 10px;
			}
		}
	}
	@include breakpoint-lt('xs') {
/*		.container{
			display: none;
		}*/
	}
}
