/* Grid */

.container {
	position: relative;
	margin: 0 auto;
	width: $width-container-lg;
	@include clearfix;
}


@include breakpoint-lt('lg') {
	.container {
		width: 100%;
	}
}

@include breakpoint-lt('md') {
	.container {
		width: $width-container-sm;
	}
}



/*
 *	Row
 */

.row {
	position: relative;
	margin-left: -$grid-padding-sm;
	margin-right: -$grid-padding-sm;
	@include clearfix;
}


/*
 *	Spans
 */

.span-12,
.span-9,
.span-8,
.span-6,
.span-4,
.span-3 {
	float: left;
	padding-left: $grid-padding-sm;
	padding-right: $grid-padding-sm;
}

.span-12 { width: 100%; }
.span-9 { width: 75%; }
.span-8 { width: 66.67%; }
.span-6 { width: 50%; }
.span-4 { width: 33.33%; }
.span-3 { width: 25%; }

@include breakpoint-lt('sm') {
	.container {
		width: 100%;
		padding-left: $grid-padding-sm;
		padding-right: $grid-padding-sm;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.span-12,
	.span-9,
	.span-8,
	.span-6,
	.span-4,
	.span-3 {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}