.newsletter {
	margin-top: 3px;
	background-color: $background-color-newsletter;
	
	.gform_wrapper{
		margin: 0;
		.form-newsletter{
			display: flex;
			align-items: center;
			padding: 60px 30px;
			.gform_heading,.gform_footer{
				width: calc(100%/5);
			}
			.gform_heading{
				margin: 0;
				.gform_title{
					margin: 0;
					color: $color-white;
					@include font-atrament;
					font-size: 26px;
					text-transform: uppercase;
					text-align: center;
				}
			}
			.gform_body{
				width: calc((100%/5)*3) !important;
				.gform_fields{
					display: flex;
					.gfield{
						width: calc(100%/4);
						margin: 0;
						&.gfield_error{
							background-color: transparent;
							border: none;
							padding-top: 0;
							padding-bottom: 0;
							margin-bottom: 0 !important;
							.validation_message{
								display: none;
							}
							input{
								border: none !important;
								margin-bottom: 0 !important;
							}
						}
					}
					label{
						display: none;
					}
					.ginput_container{
						margin: 0;
						input{
							width: 100%;
							background-color: $color-orange;
							color: $color-white;
							outline: none;
	    					border: none;
	    					font-family: 'Neutraface2Text-Demi', 'Times New Roman', serif !important;
	    					font-size: 16px !important;
						    padding: 0px 1em !important;
						    line-height: 1em;
				    		min-height: 40px;
							border-bottom: none;

	    					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
							    color: $color-white;
							    opacity: 1; /* Firefox */
							}

							&:-ms-input-placeholder { /* Internet Explorer 10-11 */
							    color: $color-white;
							}

							&::-ms-input-placeholder { /* Microsoft Edge */
							    color: $color-white;
							}
						}
					}				
				}			
			}
			.gform_footer{
				margin: 0;
				padding: 0;
				input{
					width: 100% !important;
				    border: none;
				    padding: 2px 8px;
				    margin: 0 !important;
				    min-height: 40px;
				    @include font-atrament-semibold;
				    text-transform: uppercase;
				    font-size: 18px !important;
				    line-height: 0em;
				    max-width: 150px;
				    background-color: $color-white;
				   	color: $color-grey;
				   	&:hover{
				   		background-color: $color-grey;
				   		color: $color-white;
				   	}
				   	img{
				   		display: none !important;
				   	}
				}
			}
		}
	}
	
	.gform_confirmation_message {
		color: $color-white;
		text-align: center;
		padding: 60px 30px;
	}
}


@include breakpoint-lt('md') {
	.newsletter{
		.gform_wrapper{
			.form-newsletter{
     			flex-direction: column;
				.gform_heading{
					width: 100% !important;
					margin-bottom: 20px;
				}
				.gform_body{
					width: 100% !important;
					margin-bottom: 20px;
				}
				.gform_footer{
					width: 100% !important;
					input{
						transform: translateX(-50%);
					    left: 50%;
					    position: relative;
					}
				}				
			}
		}
	}
}

@include breakpoint-lt('sm') {
	.newsletter{
		.gform_wrapper{
			.form-newsletter{
				.gform_body{
					margin-bottom: 5px;
					.gform_fields{
						flex-direction: column;
						.gfield{
							width: 100%;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}