
.search-results-wrapper {
	
	h1 {
		margin-bottom: 1em;
	}
	
	.search-result { 
		display: block;
		text-decoration: none;
		margin: 1em 0;
		
		h4 {
			margin-bottom: 0;
			.type {
				color: $color-yellow;
				text-transform: uppercase;
			}
			
		}
	}
}

