@include breakpoint-gt('md') {
	.section-wrapper{
		padding: 0 60px;
	}
}
* {
	position: relative;
}

.page-content-wrapper{
	padding: 80px 0;


	.alignright {
		float: right;
		margin-left: 2em;
	}

	.alignleft {
		float: left;
		margin-right: 2em;
	}

}

.post-body{
	.post-body-wrapper & {
		@include breakpoint-gt('md') {
			padding-right: 60px;
		}
	}
	p {
		margin-bottom: 30px;
	}
	ul {
		margin-bottom: 20px;
	}
}

.marker {
	display: none;
}

.map {
	a[href^="http://maps.google.com/maps"],
	a[href^="https://maps.google.com/maps"],
	a[href^="https://www.google.com/maps"] {
	    display: none !important;
	}
}

@mixin underline {
	content:'';
	width: 100%;
    border-bottom: 1px solid $color-yellow;
    height: 1px;
    display: block;
    margin-top: 3px;
    position: absolute;
    width: 100%;
}

@mixin readmore {
	@include font-atrament-semibold;
	letter-spacing: .075em;
	color: $color-grey;
	padding-right: 25px;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	cursor: pointer;
	text-decoration: none;
	&:after{
		@include underline;
	}
	&::before{
		content: "\71";
		@include icon-font;
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 7px;
		transition: 0.3s;
	}
	&:hover{
		color: $color-yellow;
	}
	&.active {
		&::before{
			top: 6px;
			transform: rotate(-180deg);
		}
	}
	button {
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
	}
}

@mixin oh-link {
	@include font-atrament-semibold;
	color: $color-black;
	line-height: 1.375em;
	display: inline-block;
	text-decoration: none;
	&:after{
		content: "";
	    display: block;
	    width: 100%;
	    border-bottom: 1px solid $color-yellow;
	}
	&:hover{
		text-decoration: none;
		color: $color-yellow;
	}
}

@mixin favourite {
	button {
		background-color: $color-yellow;
		color: $color-white;
		opacity: 1 !important;
		&::before {
			content: "+";
		    margin-right: .25em;
		    font-size: 24px;
		    line-height: 16px;
		    position: relative;
		    top: 3px;
		}
		&:hover {
			background-color: $color-grey;
		}
		&.active{
			background-color: $color-grey;
			&::before {
			    content: "\70";
				@include icon-font;
				font-size: 15px;
			    width: 15px;
			    height: 15px;
			    display: inherit;
			    position: relative;
			    margin-right: 6px;
			    top: 0;
			    color: $color-white;
			}
		}
	}
}
@mixin regular-button {
	background-color: $color-grey;
	color: $color-white !important;
	opacity: 1 !important;

	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	a{
		color: $color-white;
	}
	&:hover {
		text-decoration: none;
		background-color: $color-yellow;
	}

}
a.regular-button, .regular-button{
	@include regular-button;
}
@mixin accordion{
	.card{
		margin-bottom: 20px;
		.title{
			border-bottom: 1px solid $color-yellow;
			padding: 15px 0px;
			h4{
				@include font-atrament-semibold;
				letter-spacing: .05em;
				margin: 0;
				text-transform: uppercase;
				padding-right: 95px;
			}
		}
		.card-content{
			height: initial;
			overflow: hidden;
			padding: 15px 0 0;
		}
		&.showless{
			.title{
				border-bottom: 1px solid $color-grey;
			}
			.card-content{
				height: 0;
				padding: 0;
			}
		}
	}
	.button-read-more{
		@include readmore;
		position: absolute;
		right: 0;
    	top: 15px;
    	margin-bottom: 0;
    	width: 100%;
	    text-align: right;
	    height: calc(100% - 30px);
    	&:after{
    		display: none;
    	}
	}
}
.padding-bottom {
	padding-bottom: 30px;
}
.section-title {
	h2 {
		text-transform: uppercase;
	    display: inline-block;
	    letter-spacing: .075em;
	    margin-top: 80px;
	    margin-bottom: 40px;
	    transform: translateX(-50%);
	    left: 50%;
	    background-color: $color-white;
	    z-index: 1;
	    padding: 0 30px;
	    font-size: 42px;
	}
	&::after{
		content: "";
		display: block;
		width: 100%;
		transform: translateY(-50%);
		border-bottom: 2px solid $color-yellow;
		top: calc(50% + 20px);
		position: absolute;
	}
}

.watermark {
	background: $color-white url('../../images/keyhole-watermark.png') center -150px no-repeat;
	background-size: 900px;

	&.watermark-no-mobile {
		@include breakpoint-lt('md') {
			background: none;
		}
	}
}

.before-content {
	font-size: 16px;
	&.affix {
	    top: 72px;
	    width: 100%;
	    z-index: 2;
        left: 0;
	    margin-top: 0 !important;
	    background-color: $background-color-footer;
	    @include breakpoint-lt('sm') {
	    	position: relative;
	    }
	    &.event-filters{
	    	li{
	    		font-size: 18px !important;
	    	}
	    }
	}
}
