/* CSS Document */

$color-white: #fff;
$color-black: #000;
$color-yellow: #FAA609;
$color-orange: #ed7e37;
$color-dark-grey: #58585a;
$color-grey: #707070;
$color-light-grey: #b0b0b0;
$color-lighter-grey: #aaa;
$color-lightest-grey: #fcfcfc;
$color-black-1: #444;


$background-color-footer: #eee;
$background-color-newsletter: #eea948;

$color-text-header: $color-black-1;
$color-text-body: $color-black-1;
