/* Fonts */

@font-face {
    font-family: 'Neutraface2Text-Book';
    src: url('../../fonts/Neutraface2Text-Book.eot') format('eot'),
         url('../../fonts/Neutraface2Text-Book.ttf') format('truetype'),
         url('../../fonts/Neutraface2Text-Book.woff') format('woff'),
         url('../../fonts/Neutraface2Text-Book.woff2') format('woff2'),
	       url('../../fonts/Neutraface2Text-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Neutraface2Text-Bold';
    src: url('../../fonts/Neutraface2Text-Bold.eot') format('eot'),
         url('../../fonts/Neutraface2Text-Bold.ttf') format('truetype'),
         url('../../fonts/Neutraface2Text-Bold.woff') format('woff'),
         url('../../fonts/Neutraface2Text-Bold.woff2') format('woff2'),
	       url('../../fonts/Neutraface2Text-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neutraface2Text-Demi';
    src: url('../../fonts/Neutraface2Text-Demi.eot') format('eot'),
         url('../../fonts/Neutraface2Text-Demi.ttf') format('ttf'),
         url('../../fonts/Neutraface2Text-Demi.woff') format('woff'),
         url('../../fonts/Neutraface2Text-Demi.woff2') format('woff2'),
	       url('../../fonts/Neutraface2Text-Demi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('../../fonts/HelveticaNeueLTStd-BdCn.eot') format('eot'),
         url('../../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
         url('../../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
         url('../../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
         url('../../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@mixin Neutraface2Text-Book {
	font-family: 'Neutraface2Text-Book', 'Helvetica Neue', Arial, serif;
	font-weight: normal;
  font-style: normal;
}

@mixin Neutraface2Text-Bold {
  font-family: 'Neutraface2Text-Bold', 'Helvetica Neue', Arial, serif;
  font-weight: normal;
    font-style: normal;
}

@mixin Neutraface2Text-Demi {
  font-family: 'Neutraface2Text-Demi', 'Helvetica Neue', Arial, serif;
  font-weight: normal;
    font-style: normal;
}

@mixin HelveticaNeueLTStd-BdCn {
  font-family: 'HelveticaNeueLTStd-BdCn', Arial, serif;
  font-weight: normal;
    font-style: normal;
}

@mixin font-atrament-light {
  font-family: 'atrament-web';
  font-style: normal;
  font-weight: 300;
}

@mixin font-atrament {
  font-family: 'atrament-web';
  font-style: normal;
  font-weight: 400;
}
@mixin font-atrament-semibold {
  font-family: 'atrament-web';
  font-style: normal;
  font-weight: 600;
}
@mixin font-atrament-bold {
  font-family: 'atrament-web';
  font-style: normal;
  font-weight: 700;
}

@mixin icon-font {
	font-family: "brisbane-open-house-2018" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
