/* Front sponsors */

.section-front-sponsors {
	padding: 20px 0 70px 0;
	
	.title-wrapper {
		height: 140px;
		display: flex;
    	align-items: flex-end;
	}
	
	h2.title {
		display: inline-block;
		font-size: em(40px);
		text-transform: uppercase;
		border-bottom: 2px solid $color-yellow;
		span {
			display: block;
		}
	}
	
	.slide-wrapper.slick-slide {
		position: relative;
		height: 140px;
		padding: 0 40px 0 0;
		display: flex;
    	align-items: flex-end;
		
		&.slide-wrapper-first {
			padding-left: 80px;
		}
		
		h4,
		img {
			display: inline-block;
		}
		
		h4 {
			position: absolute;
			bottom: 0;
			left: 0;
			transform-origin: top left;
			transform: translateY(100%) rotate(-90deg) ;
			font-size: 18px;
			max-width: 120px;
			margin-bottom: 0;
		}
		
		img {
			margin: 0;
			width: auto;
		}
		
	}
	
	@include breakpoint-lt('md') {
		.title-wrapper { 
			height: auto; 
			display: static;
			text-align: center;
		}
		h2.title span { display: inline; }
	}
}