.logout-wrapper {

    a.logout-link {
        @include font-atrament-semibold();
        text-transform: uppercase;
        vertical-align: middle;
    
        display: flex;
        align-items: center;
    
        .text {
            margin-right: 0.5rem;
            font-size: 22px;
        }
        .icon {
            width: 18px;
            height: 18px;

            &.boh-logout {
                background-image: url('../../images/icon-logout.svg');
                height: 2rem;
                width: 2rem;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}