/* CSS Document */

@mixin event-tiles {
	& {
	  	margin-left: -15px;
 		margin-right: -15px;

		.event-tile {
			width: 25%;
			margin-bottom: 40px;
			padding-left: 15px;
	  		padding-right: 15px;
	  		margin-top: 0;
		    @include breakpoint-lt('md') {
		        width: 50%;
		    }
		    @include breakpoint-lt('xs') {
		        width: 100%;
		    }
			.image-wrapper {
	  			position: relative;
	  			padding: 0 5px;
				.image {
					width: 100%;
					padding-top: 67%;
					background: $color-light-grey url('../../images/no-image.png') center center no-repeat;
					background-size: cover;
				}				
	  			img {
	  				width: 100%;
	  			}
	  			.event-ticket {
	  				position: absolute;
	  				bottom: 0;
	  				background-color: $color-yellow;
	  				color: $color-white;
	  				padding: 8px 24px 4px 24px;
	  				text-transform: uppercase;
	  				@include Neutraface2Text-Bold;
					font-size: 16px;
	  			}
	  		}
			.event-content {
				padding: 20px 15px;
				font-size: 16px;
				.event-type {
					color: $color-yellow;
					text-transform: uppercase;
					@include Neutraface2Text-Bold;
					margin-bottom: 5px;
				}
				.event-date, 
				.event-time, 
				.event-location,
				.event-booking {
					position: relative;
					padding-left: 25px;
					&:before {
						position: absolute;
						width: 15px;
						height: 15px;
						display: inline-block;
						margin-right: 10px;
						top: 3px;
						left: 0;
					}
				}
				.event-title {
					@include font-atrament-semibold;
					margin-bottom: 10px;
					font-size: 24px;
				    line-height: 1.25em;
				    text-transform: uppercase;
				    letter-spacing: .05em;
				    a {
	    				text-decoration: none;
	    			}
				}
				.event-date::before {
					content: url('../../images/icon-calendar.svg');
				}
				.event-time::before {
					content: url('../../images/icon-time.svg');
				}
				.event-location::before {
					content: url('../../images/icon-location.svg');
				}
				.event-booking::before {
					content: '$';
					@include font-atrament-semibold;
					color: $color-yellow;
					text-align: center;
					font-size: 1.1em;
					top: -3px;
				}
				.links-wrapper {
					display: flex;
				}
				.readmore-wrapper {
					margin-top: 20px;
					margin-right: 30px;
					a {
						@include oh-link;
						font-size: 18px;
						text-transform: uppercase;
						letter-spacing: .05em;
					}
				}
				/*
				.event-ticket {
					margin-top: 20px;  					
					span {
						@include oh-link;
						font-size: 18px;
						text-transform: uppercase;
						letter-spacing: .05em;
						cursor: pointer;
						
					}
					&.no-booking-needed {
						span {
							color: $color-light-grey;
							cursor: default;
							&:after{
								border-color: transparent;
							}
						}
					}
					&.no-booking-required {
						display: none;
					}
				}
				*/
			}
		}
	}
}