// is a special case of .boh-modal

$winner-modal-width: calc(100vw - 160px);

.modal-container .photo-comp-winner {
	
	background: transparent;
	width: $winner-modal-width;
	@include breakpoint-lt('sm') {
		width: 100vw;
	}
	
	.modal-close {
	  	display: none;

		@include breakpoint-gte('md') {
		  top: 120px;
		  background: #fff;
		}
	}

	.content {
		padding: 0;

	  	.winner-wrapper {
		  display: block;
		  height: calc(50vh);

		  @include breakpoint-gte('md') {
			height: calc(100vh - 200px);
		  }
		}

		.winner-header {
			width: 100%;
			text-align: center;
			text-transform: uppercase;

		  @include breakpoint-gte('md') {
			  height: 120px;
			}

			.winner-competition {
				color: $color-yellow;
				@include Neutraface2Text-Bold;
				font-size: em(17px);
			}
			.winner-entry-name {
				color: $color-white;
				@include font-atrament-semibold;
				font-size: em(33px);
			}
		}

		.image-wrapper {
			position: relative;
			background: $color-white;
			padding: 10px;
			min-height: 160px;
			height: calc(100% - 120px);
		}
		.slide-wrapper {
			width: $winner-modal-width;
			@include breakpoint-lt('sm') {
				width: 100vw;
			}
		}
	}
	
	// Move slick arrows around
	.slick-arrow {
		top: calc(50% + 60px);
		background-color: $color-yellow; 
		&.slick-prev { left: 10px; }
		&.slick-next { right: 10px; }
	}
	
}




