@import "./abstracts/colors";

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$input-color: $color-text-body;
$input-border: $color-yellow;
$input-border-focus: $color-orange;
$font-size-base: 20px;
$padding-base-vertical: 11px;
// Bootstrap Framework.
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~bootstrap-select/sass/bootstrap-select";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick.scss";

@import "./fontastic/styles";

// Abstracts
@import "./abstracts/sass-breakpoints-mixins";
@import "./abstracts/box-sizing";
@import "./abstracts/variables";
@import "./abstracts/fonts";
@import "./abstracts/global-mixins";
@import "./abstracts/mixins";
@import "./abstracts/utility-classes";

// Base
@import "./base/buttons";
@import "./base/typography";

// Components
@import "./components/tile-event";
@import "./components/tile-building";
@import "./components/tile-news";

@import "./components/bootstrap-select";
@import "./components/instagram-feed";
@import "./components/front-sponsors";
@import "./components/front-news";
@import "./components/load-more";
@import "./components/images";
@import "./components/modal";
@import "./components/winners-modal";
@import "./components/logout";

// Layout

@import "./layout/simplefavorites";
@import "./layout/slider";
@import "./layout/banner";
@import "./layout/newsletter";
@import "./layout/building";
@import "./layout/buildings";
@import "./layout/events";
@import "./layout/event";

@import "./layout/news-and-media";
@import "./layout/news-and-media-article";

@import "./layout/two-narrow-columns";
@import "./layout/faqs";
@import "./layout/promotion-block";
@import "./layout/form";
@import "./layout/sponsors";
@import "./layout/shortlist";
@import "./layout/competition";
@import "./layout/search";

@import "./layout/header";
@import "./layout/header-mobile";
@import "./layout/grid";
@import "./layout/footer";

@import "./pages/page-template-my-buildings";
