.page-banner-wrapper{
	.page-banner{
		min-height: 420px;
    	background-size: cover;
    	background-position: center;
    	display: flex;
    	align-items: center;
    	.title-wrapper{
    		width: 100%;
    		text-align: center;
    		padding: 0 15px;
    		h1 {
	    		color: $color-yellow;
				display: inline-block;
			    border-bottom: 3px solid;
			    padding-bottom: 10px;			   
			    font-size: 48px;
			    text-transform: uppercase;
			    letter-spacing: .05em;
			    @include breakpoint-gt('md') {
			    	font-size: 60px;
			    }
	    	}
    	}
	}
}