@mixin building-tile {
	.image-wrapper {
		position: relative;
		.image {
			width: 100%;
			padding-top: 67%;
			background: $color-light-grey url("../../images/no-image.png") center
				center no-repeat;
			background-size: cover;
		}
		.building-ticket {
			position: absolute;
			bottom: 0;
			background-color: $color-yellow;
			color: $color-white;
			padding: 8px 24px 4px 24px;
			text-transform: uppercase;
			@include Neutraface2Text-Bold;
			font-size: 16px;
		}
		.building-new {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $color-grey;
			@include Neutraface2Text-Bold;
			padding: 5px 15px;
			letter-spacing: 0.05em;
			color: $color-white;
			font-size: 16px;
		}
	}
	.building-content {
		padding: 20px 0px;
		font-size: 16px;
		display: flex;
		flex-flow: row wrap;
		@include font-atrament;
		position: relative;
		margin: 0;
		.building_id {
			letter-spacing: 0.05em;
			color: $color-yellow;
			font-size: 32px;
			display: inline-block;
			line-height: 1em;
			width: fit-content;
			text-align: center;
			position: absolute;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				border-bottom: 2px solid $color-yellow;
				margin-top: 1px;
			}
		}

		.building-title {
			@include font-atrament;

			padding-left: 50px;
			line-height: 1em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			width: calc(100% - 60px);
			margin-bottom: 1rem;
			font-size: 34px;

			a {
				text-decoration: none;
			}
		}
		.wishlist {
			position: absolute;
			right: 20px;
			top: 25px;
			width: 25px;
			height: 25px;

			span {
				display: none;
			}

			button {
				@include font-atrament;

				color: white;
				background-color: $color-yellow;
				line-height: 25px;
				width: 25px;
				height: 25px;
				text-align: center;
				border-radius: 100%;
				letter-spacing: 0;
				opacity: 1 !important;
				cursor: pointer;
				text-indent: -99999px;
				border: 0;
				z-index: 1;
				&:hover + span {
					z-index: 0;
					@include Neutraface2Text-Demi;
					position: absolute;
					background-color: $color-grey;
					top: 33px;
					transform: translateX(-50%);
					left: 50%;
					display: block;
					line-height: 1em;
					padding: 5px 7px;
					text-transform: uppercase;
					font-size: 14px;
					border-radius: 7px;
					text-indent: 0;
					color: $color-white;
					&::before {
						content: "";
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid $color-grey;
						position: absolute;
						top: -8px;
						left: 50%;
						transform: translateX(-50%);
						z-index: -1;
					}
				}
				&:hover,
				&.active {
					background-color: $color-grey;
				}

				&.active {
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60%;
					white-space: nowrap;
					text-indent: -99999px;
					overflow: hidden;

					&::after {
						content: "\70";
						@include icon-font;
						width: 15px;
						height: 15px;
						top: 5px;
						left: 5px;
						color: #fff;
						display: block;
						position: absolute;
						text-indent: 0;
					}
				}
				&:not(.active) {
					&::before {
						content: "+";
						font-size: 32px;
						position: absolute;
						left: 12px;
						display: block;
						top: 11px;
						transform: translateY(-50%) translateX(-50%);
						text-indent: 0;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
		.building-meta {
			@include Neutraface2Text-Book;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.building-schedule,
		.building-tours {
			margin-left: 50px;
			padding-left: 23px;
			text-indent: -23px;
			&::before {
				content: "\6e";
				@include icon-font;
				font-size: 18px;
				color: $color-yellow;
				top: 5px;
				position: relative;
			}
		}
		.building-tours::before {
			content: "\6a";
			/*font-size: 16px;*/
			top: 4px;
		}

		.links-wrapper {
			width: 100%;
			display: flex;
			.readmore-wrapper {
				margin-top: 10px;
				margin-right: 30px;
				padding-left: 50px;
				a {
					@include oh-link;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}
			.building-ticket {
				margin-top: 10px;
				span {
					@include oh-link;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					cursor: pointer;
				}
				&.booking-required,
				&.no-booking-required {
					display: none;
					span {
						color: $color-light-grey;
						cursor: default;
						&:after {
							border-color: transparent;
						}
					}
				}
			}
		}
	}
}

.buildings {
	.buildings-filter .container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 60px;
		@include breakpoint-lt("sm") {
			flex-direction: column;
			.bootstrap-select {
				width: 100% !important;
				max-width: 300px;
				margin: 0;
				margin-bottom: 10px;
			}
		}
		.button-list,
		.button-map {
			@include font-atrament-semibold;
			color: $color-dark-grey;
			padding-left: 40px;
			color: $color-lighter-grey;
			padding-left: 40px;
			background-repeat: no-repeat;
			background-position: 10px center;
			border: 0;
			font-size: 20px;
			text-transform: uppercase;
			line-height: 33px;
			display: inline-block;
			background-color: transparent;

			&::after {
				content: "";
				@include icon-font;
				width: 20px;
				height: 20px;
				display: block;
				color: $color-light-grey;
				position: absolute;
				top: 8px;
				left: 10px;
			}
			&.active {
				color: $color-grey;
				&:after {
					color: $color-yellow;
				}
			}
		}

		.button-list::after {
			content: "\68";
		}
		.button-map::after {
			content: "\69";
		}
	}
	.building_precinct {
		border-bottom: 2px solid $color-yellow;
		margin-bottom: 60px;
		.building_precinct_title {
			@include font-atrament-semibold;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			padding-bottom: 30px;
			font-size: 24px;
		}
	}
	.building-tiles,
	.building-pool {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		.building-tile {
			width: calc(100% / 3);
			margin-bottom: 40px;
			padding-left: 15px;
			padding-right: 15px;
			@include breakpoint-lt("md") {
				width: 50%;
			}
			@include breakpoint-lt("xs") {
				width: 100%;
			}
			@include building-tile;
		}
	}
}

.map {
	width: 100%;
	height: 600px;
	border: #ccc solid 1px;
	margin: 20px 0;
	img {
		max-width: inherit !important;
	}
	@include breakpoint-gt("lg") {
		height: 900px;
	}
}

.map-iframe-wrapper {
	aspect-ratio: 9 / 10;
	overflow: hidden;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.buildings-map-wrapper {
	@include building-tile;
	.gm-style-iw {
		width: 300px !important;

		.image-wrapper {
			.building-ticket {
				padding: 6px 12px 3px 12px;
				font-size: 14px;
			}
		}

		.wishlist {
			span {
				top: -33px !important;
				left: -20% !important;
				&:before {
					border-top: 10px solid #444;
					border-bottom: 10px solid transparent !important;
					right: 5px !important;
					top: 24px !important;
					left: initial !important;
				}
			}
		}
	}
	.gm-style > div > div > div:nth-child(4) {
		& > div {
			/*		width: 30px !important;
			height: 30px !important;*/
			div {
				color: $color-white !important;
			}

			& > img {
				width: 30px !important;
				height: 36px !important;
				transform: rotate(180deg);
			}
			/*& > div{
				width: 30px !important;
				height: 30px !important;
			}*/
		}
	}
}

.day-filters {
	width: 100%;
	ul.date-toggle {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		li {
			margin: 0;
			border: 1px solid $color-grey;
			border-right: 0;
			padding: 0;
			&:last-child {
				border-right: 1px solid;
			}
			&::before {
				display: none;
			}
			.day-filter {
				cursor: pointer;
				padding: 5px 40px;
				display: block;
				text-align: center;
				background: $color-white;
				color: $color-grey;
				text-decoration: none;
				text-transform: uppercase;

				.day {
					@include font-atrament;
					letter-spacing: 0.05em;
					font-size: em(30px);
				}
				&.active {
					background: $color-grey;
					color: $color-white;
				}
			}
		}
	}
	/*
	@include breakpoint-lt('md') {
		width: 100vw;
		margin-left: -15px;
		margin-right: -15px;
		ul.date-toggle li .day-filter {
			padding: 16px 10px;
			.day {
				font-size: em(18px);
				font-weight: 600;
			}
		}
	}
	*/
}

.buildings-filter.affix {
	padding: 10px 0;
	.container {
		margin-bottom: 0;
	}
	.day-filters {
		width: fit-content;
		margin-right: 60px;
		ul {
			margin-bottom: 0;
			.day-filter {
				padding: 5px 10px;
				.day {
					font-size: 18px;
				}
			}
		}
	}
	.bootstrap-select {
		width: 250px !important;
		&.building-precinct {
			margin-right: 60px;
		}
	}
	.filter-buttons {
		margin-left: 30px;
	}
}

.buildings .before-content-spacer.affix {
	position: static;
	height: 123px;
}

@include breakpoint-lt("sm") {
	.day-filters {
		width: 100vw;
		margin-left: -15px;
		margin-right: -15px;
		ul.date-toggle li .day-filter {
			padding: 16px 10px;
			.day {
				font-size: em(18px);
				font-weight: 600;
			}
		}
	}

	.buildings-filter.affix {
		padding: 10px 0;
		.container {
			margin-bottom: 0;
		}
		.day-filters {
			//width: fit-content;
			width: 100vw;
			margin-right: -15px;
			margin-left: -15px;
			margin-bottom: 10px;
			ul {
				margin-bottom: 0;
				.day-filter {
					padding: 6px 10px;
					.day {
						font-size: em(18px);
					}
				}
			}
		}
		.bootstrap-select {
			width: 250px !important;
			&.building-precinct {
				margin-right: 0px;
			}
		}
		.filter-buttons {
			margin-left: 0px;
		}
	}
}
