.building-banner-wrapper {
	height: 520px;
	position: relative;

	.banner-image,
	.slick-slider {
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;

		.slide-wrapper {
			height: 520px;
			background: $color-light-grey url("../../images/no-image.png") center
				center no-repeat;
			background-size: cover;
		}
	}

	.slick-slider {
		.slick-arrow {
			&.slick-prev {
				left: 0;
				//background-image: url('../../images/icon-arrow-left.png');
			}
			&.slick-next {
				right: 0;
				//background-image: url('../../images/icon-arrow-right.png');
			}
			border: none;
			text-indent: -999999px;
			white-space: nowrap;
			overflow: hidden;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			background-color: $color-yellow;
			z-index: 1;
			padding: 15px 20px;
			background-repeat: no-repeat;
			background-position: center;
			&:hover {
				background-color: $color-orange;
			}
		}
	}
	.container {
		height: 100%;
	}
	.section-wrapper {
		display: flex;
		height: 100%;
		align-items: center;

		background-position: center left;
		background-repeat: no-repeat;
		.banner-text {
			width: 50%;
			position: relative;
			.building-title {
				@include font-atrament;
				letter-spacing: 0.05em;
				margin-bottom: 20px;
				margin-left: 60px;
				font-size: 60px;
				margin-right: 20px;
				text-transform: uppercase;
			}
			.building_precinct {
				@include font-atrament-semibold;
				letter-spacing: 0.075em;
				text-transform: uppercase;
				margin-left: 60px;
			}
			.building_id {
				position: absolute;
				left: 0;
				top: 2px;
				@include font-atrament;
				border-bottom: 1px solid $color-yellow;
				font-size: 48px;
				color: $color-yellow;
				line-height: 1em;
				padding-bottom: 5px;
			}
		}
		&::before {
			content: "\6a";
			@include icon-font;
			font-size: 250px;
			color: #eee;
			display: block;
			height: 250px;
			width: 250px;
			position: absolute;
			left: -50px;
		}
	}
}

.building-before-content {
	background-color: $background-color-footer;
	@include font-atrament-semibold;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	.section-wrapper {
		display: flex;
		flex-direction: row;
		padding-top: 15px;
		padding-bottom: 15px;
		& > div {
			width: calc(100% / 3);
			position: relative;
		}
		.building-address::before,
		.building-schedule::before {
			content: "";
			@include icon-font;
			font-size: 20px;
			color: $color-yellow;
			margin-right: 8px;
			top: 5px;
			position: relative;
		}

		.building-address {
			padding: 0 30px;
			text-indent: -28px;
			&::before {
				content: "\69";
			}
		}
		.building-schedule {
			padding: 0 15px;
			text-indent: -33px;
			&::before {
				content: "\6e";
			}
		}
		.building-buttons {
			display: flex;
			padding-left: 40px;
			margin-left: -10px;
			margin-right: -10px;
			align-self: center;
			& > div {
				//width: 50%;
				text-align: center;
				cursor: pointer;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 20px;
				button,
				a {
					display: inline-block;
					width: 100%;
					border: none;
					padding: 8px 16px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}
			.wishlist {
				@include favourite;
			}
			.building-ticket-type {
				white-space: nowrap;
				button,
				a {
					background-color: $color-grey;
					color: $color-white;
					line-height: 1.5;
					&:hover {
						background-color: $color-yellow;
					}
				}
				&.booked-out {
					a {
						background-color: $color-yellow;
					}
				}
				&.no-booking-required {
					display: none;
				}
				&.building-ticket-type--status__not-available
					button.btn:disabled:hover {
					background-color: $color-grey;
				}
			}
		}
	}
}

.building-content {
	margin: 80px 0;
	.post-body-wrapper {
		position: relative;
	}
	.sharedaddy {
		position: absolute;
		right: 80px;
		bottom: -24px;
		> div.sd-social-icon {
			display: flex;
			h3.sd-title {
				margin: 0;
				@include Neutraface2Text-Bold;
				color: $color-yellow;
				margin-right: 15px;
				font-size: 16px;
				margin-top: 2px;

				&:before {
					content: none;
				}
			}
			ul {
				margin: 0;
			}
			li {
				margin: 0;
				a.sd-button {
					background-color: transparent !important;
					border: none;
					box-shadow: none;
					padding: 0;
					width: 30px;
					height: 30px;
					overflow: hidden;
					opacity: 1 !important;
					border-radius: 0;
					text-align: center;
					&::before {
						color: $color-yellow;
						font-family: "Font Awesome 5 Brands";
					}
					&:hover::before {
						color: $color-orange;
					}
				}
				&.share-twitter {
					a::before {
						content: "\f099";
					}
				}
				&.share-facebook {
					a::before {
						content: "\f39e";
					}
				}
				&.share-linkedin {
					a::before {
						content: "\f0e1";
					}
				}
			}
		}
	}

	.post-body {
		height: initial;
		position: static;
		&.showless {
			height: 300px;
			overflow: hidden;
			margin-bottom: 30px;
			position: static;
		}
	}
	h3 {
		@include font-atrament-semibold;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.whats-on,
	.how-to-book,
	.tour-tips,
	.additional-activities,
	.accreditations {
		ul {
			padding-left: 0;
			li {
				list-style: none;
				&::before {
					margin-right: 15px;
					position: relative;
				}
			}
		}
	}
	.tour-tips {
		li::before {
			content: url("../../images/icon-tip.png");
			top: 5px;
		}
	}
	.additional-activities,
	.accreditations {
		li::before {
			content: url("../../images/icon-list.png");
			top: -3px;
		}
	}
	.button-read-more {
		@include readmore;
	}
	.building-buttons {
		width: max-content;
		display: flex;
		margin-left: -15px;
		margin-right: -15px;
		@include font-atrament-semibold;
		letter-spacing: 0.075em;
		& > div {
			text-align: center;
			cursor: pointer;
			padding-left: 15px;
			padding-right: 15px;
			button {
				width: 100%;
				border: none;
				padding: 8px 15px;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
		}
		.volunteer {
			button {
				background-color: $color-orange;
				color: $color-white;
				a {
					color: $color-white;
				}
				&:hover {
					background-color: $color-grey;
				}
			}
		}
		.wishlist {
			@include favourite;
		}
		.building-ticket-type {
			button {
				background-color: $color-grey;
				color: $color-white;
				line-height: 1.5;
				a {
					color: $color-white;
				}
				&:hover {
					background-color: $color-yellow;
				}
			}
			&.booked-out {
				button {
					background-color: $color-yellow;
				}
			}
			&.no-booking-required {
				display: none;
			}
		}
	}
	.buildings-map-wrapper {
		position: relative;
		margin-bottom: 60px;
		.map {
			height: 500px;
			margin: 0;
			border: 1px solid #adafaf;
			.gm-bundled-control {
				bottom: 60px !important;
				right: initial !important;
				left: 0 !important;
				display: block !important;
				.gmnoprint {
					display: block !important;
				}
			}
		}
		.map-direction {
			@include font-atrament-semibold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			position: absolute;
			right: 0;
			bottom: 0px;
			z-index: 1;
			background-color: white;
			padding: 10px 15px;
			border-top: 1px solid #adafaf;
			border-left: 1px solid #adafaf;
			a {
				color: $color-grey;
				text-decoration: none;
				&::after {
					content: "";
					width: 100%;
					border-bottom: 1px solid $color-yellow;
					height: 1px;
					display: block;
					margin-top: 3px;
				}
				&:hover {
					color: $color-yellow;
				}
			}
		}
	}

	.location-directions,
	.location-history,
	.location-addision,
	.location-website {
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;

		&::before {
			content: "";
			@include icon-font;
			font-size: 20px;
			line-height: 20px;
			color: $color-yellow;
			position: absolute;
			margin-left: -30px;
			top: 4px;
			width: 20px;
			height: 20px;
			display: block;
		}
	}

	.location-directions {
		&::before {
			content: "\69";
		}
	}

	.location-history {
		&::before {
			content: "\62";
		}
	}

	.location-addision {
		&::before {
			content: "\61";
		}
	}

	.location-website {
		&::before {
			content: "\6f";
		}
	}

	.location-directions,
	.location-website {
		a {
			@include Neutraface2Text-Demi;
			color: $color-grey;
			display: inline-block;

			&:hover {
				color: $color-yellow;
				text-decoration: none;

				&::after {
					border-bottom: 1px solid $color-yellow;
					bottom: 0;
					content: "";
					display: block;
					height: 1px;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
		}
	}
}

@include breakpoint-between("sm", "md") {
	.building-before-content {
		.section-wrapper {
			.building-schedule {
				padding: 0 20px;
			}
			.building-buttons {
				padding-left: 0;
			}
		}
	}
	.post-body-wrapper {
		margin-bottom: 40px;
	}
}

@include breakpoint-lt("sm") {
	.post-body-wrapper {
		margin-bottom: 70px;
		position: relative;
		.sharedaddy {
			left: 13px;
			bottom: -70px;
		}
	}
	.building-banner-wrapper {
		flex-direction: column-reverse;
		display: flex;
		height: initial;
		.slick-slider {
			width: 100%;
			position: relative;
			.slide-wrapper {
				height: 270px;
			}
		}
		.section-wrapper {
			padding: 60px 45px;
			.banner-text {
				width: 100%;
			}
		}
	}
	.building-before-content {
		.section-wrapper {
			flex-wrap: wrap;
			margin: inherit 20px;
			div {
				width: 100%;
			}
			.building-address,
			.building-schedule {
				width: 50%;
				margin: 0;
				padding: 0 45px 15px;
			}
			.building-buttons {
				padding-left: 0;
				margin-left: 0;
				margin-top: 0;
			}
		}
	}
}

@include breakpoint-lt("xs") {
	.building-before-content {
		.section-wrapper {
			.building-address,
			.building-schedule {
				width: 100%;
			}
			.building-buttons {
				& > div {
					font-size: 15px;
				}
			}
		}
	}
}
