/* CSS Document */

.site-footer {
	@include Neutraface2Text-Book;

	align-items: center;
	background-color: $background-color-footer;
	color: $color-black;
	display: flex;
	font-size: 13px;
	min-height: 100px;
	padding: 20px 0;
	text-align: center;

	@include breakpoint-gt("md") {
		padding: 0;
		text-align: left;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&::before,
		&::after {
			display: none;
		}

		@include breakpoint-gt("md") {
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	.colophon {
		@include breakpoint-gt("md") {
			flex: 0 0 40%;
			flex-direction: row-reverse;
		}
	}

	.footer-logo {
		display: block;

		@include breakpoint-gt("md") {
			flex-shrink: 0;
		}

		img {
			height: 30px;
			width: auto;
		}
	}

	// Footer navigation
	nav {
		margin-top: 50px;

		a {
			display: inline-block;
			@include font-atrament-light;
			text-transform: uppercase;
			text-decoration: none;
			padding: 12px 0;
			margin-left: 36px;

			&:hover,
			&.active {
				text-decoration: underline;
			}
		}

		a:first-of-type {
			margin-left: 0;
		}
	}

	@include breakpoint-lt("lg") {
		nav a {
			margin-left: 20px;
		}
	}

	@include breakpoint-lt("md") {
		.footer-left {
			width: 280px;
			a {
				margin: 0 10px 20px 0;
			}
		}
		nav a {
			font-size: em(14px);
		}
	}
}
