
.contact-form-section {
  margin-top: 80px;
  &:before {
	content:'';
	display: block;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: $background-color-footer;
  }
  .gform_wrapper {
	background-color: $color-white;
	padding: 30px 30px 60px;
	box-shadow: 0 0 20px 0px #eee;

	.gform_heading {
	  display: flex;
	  justify-content: center;
	  .gform_title {
		display: inline-block;
	  }
	}
  }
}

.gform_wrapper {
  .gform_heading {
	text-align: center;
	.gform_title {
	  @include font-atrament;
	  font-size: 36px;
	  letter-spacing: .05em !important;
	  text-transform: uppercase;
	  text-align: center;
	  display: inline-block;

	  &:after{
		@include underline;
		border: 1px solid $color-yellow;
	  }
	}

  }
  .gform_body{
	width: 100% !important;
	clear: both;
	content: "";
	display: table;
	.gform_fields {
	  margin-left: -15px;
	  margin-right: -15px;

	  .field-name, .field-email{
		width: 50%;
		float: left;
		clear: none;
	  }
	  .gfield{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 40px;

		&:last-child {
		  margin-bottom: 1rem;
		}

		.gfield_label, label{
		  display: none;
		}
		&.show-field-label{
		  .gfield_label{
			display: block
		  }
		}
		input,
		textarea {
		  width: 100% !important;
		  border: 0;
		  padding: 5px 0 !important;
		  @include Neutraface2Text-Demi;
		  border-top: 0 !important;
		  border-bottom: 2px solid $color-light-grey;
		  &:focus{
			border-bottom: 2px solid $color-yellow;
		  }
		}
		textarea {
		  border-top: 1px solid $color-lightest-grey;
		}
		.gfield_select{
		  width: 100% !important;

		  &.bootstrap-select {
			.dropdown-toggle{
			  padding: 6px 0;
			  text-transform: capitalize !important;
			  border-bottom: 2px solid $color-light-grey;
			  @include Neutraface2Text-Book;
			  color: $color-grey;
			  letter-spacing: 0;
			  font-size: 20px !important;
			}
		  }
		}
		&.one-half-field{
		  width: 50%;
		  padding-left: 15px;
		  padding-right: 15px;
		  float: left;
		  clear: none;
		}
		&.one-half {
		  .ginput_container_radio{
			.gfield_radio{
			  li{
				width: 50% !important;
			  }
			}
		  }
		}
		.ginput_container.ginput_recaptcha > div {
		  margin: 0 auto;
		}
	  }
	  .gsection {
		padding:0;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0 !important;
		border: none;
		h2 {
		  text-transform: uppercase;
		  @include font-atrament-semibold;
		  letter-spacing: .075em !important;
		  font-size: 24px;
		}
	  }
	  .ginput_container_radio {
		.gfield_radio {
		  display: flex;
		  border: 1px solid $color-grey;
		  border-left: 0;
		  width: 100%;
		  li {
			width: calc(100% / 3);
			align-items: center;
			display: flex;
			margin: 0;
			border-left: 1px solid $color-grey;
			position: relative;
			z-index: 2;

			label {
			  display: block;
			  background-color: $color-white;
			  color: $color-grey;
			  width: 100%;
			  display: inline-block;
			  float: none;
			  max-width: none;
			  margin: 0;
			  padding: 15px;
			  text-align: center;
			  text-transform: uppercase;
			  position: static;

			  &.ui-state-active{
				background-color: $color-grey;
				color: $color-white;

				&::after {
				  content: '';
				  background-color: $color-grey;
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  z-index: -1;
				}
			  }
			}
			input{
			  display: none;
			}
		  }
		}
	  }
	  .ginput_container_checkbox{
		label{
		  display: block;
		}
		input{
		  display: inline-block;
		  float: left;
		  margin: 0 !important;
		  margin-right: 10px !important;
		  border: none !important;
		  -webkit-appearance: none;
		  width: 20px !important;
		  height: 20px !important;
		  border: 1px solid $color-grey !important;
		  top: 2px;
		  &:checked{
			background-color: $color-grey;
			background-image: url('../../images/wishlist-tick.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60%;
			white-space: nowrap;
			text-indent: -99999px;
		  }
		  &:focus{
			border: 1px solid $color-grey !important;
		  }
		}
	  }
	  .ginput_container_fileupload{
		input[type="file"]{
		  display: none;
		}
		input[type="button"]{
		  position: absolute;
		  right: 0;
		  width: max-content !important;
		  top: -3px;
		  text-transform: uppercase;
		  background-color: $color-grey;
		  color: $color-white;
		  @include font-atrament-semibold;
		  letter-spacing: .05em;
		  padding: 7px 20px !important;
		  display: inline-block;
		  border-bottom: 0 !important;
		}
	  }


	  .ginput_container_checkbox {
		label {
		  display: block;
		  padding-left: 30px;
		  line-height: 24px;
		}
	  }
	}
  }
  .gform_footer {
	display: flex;
	justify-content: center;
	input {
	  @include font-atrament-semibold;
	  letter-spacing: .075em;
	  background-color: $color-grey;
	  color: $color-white;
	  font-size: 20px !important;
	  text-transform: uppercase;
	  border: 0;
	  margin: 0 !important;
	  padding: 10px 20px;
	  font-size: 23px;
	  &:hover{
		background-color: $color-yellow;
	  }
	}
	img{
	  display: none !important;
	}
  }
}
.gform_confirmation_message {
  text-align: center;
  @include Neutraface2Text-Bold;
  padding: 1.5em 0;
}

@include breakpoint-lt('sm') {
  .field-name, .field-email, .one-half-field, .gfield{
	width: 100% !important;
	margin-bottom: 20px !important;
	padding: 0 !important;
  }
}

/*
.datepicker {
	position: relative;
	z-index: 9;
}
*/
.ui-datepicker {
  font-size: em(16px);
  //width: 14em;
  padding: .2em .2em 0;
  background: #eee;
  border: 1px solid $color-lighter-grey;

  .ui-datepicker-header {
	background: $color-yellow;
	color: $color-white;
	font-weight: 600;
	border: none;
	box-shadow: none;
	text-shadow: none;

	.ui-icon {
	  display: block;
	  position: relative;
	  overflow: hidden;
	  text-indent: -9999em;
	  width: 30px;
	  height: 30px;

	  &::before {
		content: '';
		position: absolute;
		display: block;
		top: 0.7em;
		left: 0.9em;
		width: 0.65em;
		height: 0.65em;
		border: 2px solid #fff;
		border-width: 2px 2px 0 0;
		transform: rotate(45deg);
	  }
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
	  background: none;
	}
	.ui-datepicker-prev {
	  float: left;
	  .ui-icon::before {
		transform: rotate(-135deg);
	  }
	}
	.ui-datepicker-next {
	  //float: right;
	}

	.ui-datepicker-title {
	  margin: 0 2.3em;
	  line-height: 1.8em;
	  text-align: center;

	  select {
		background: transparent;
		border: none;
	  }
	}
  }

  table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
  }

  thead th {
	padding: .3em 0;
	text-align: center;
	font-weight: bold;
	border: 0;
	width: (100% / 7);
  }

  tbody tr {
	border: 0 !important;
	td {
	  border: 0 !important;
	  padding: 0;
	  a {
		display: block;
		padding: 0;
		text-decoration: none;
		background: $color-white;
		border: 1px solid $color-lighter-grey;
		border-width: 1px 0 0 1px;

		&.ui-state-highlight {
		  border-color: darken($color-yellow, 0.2);
		  background: $color-yellow;
		  color: $color-white;
		  text-shadow: none;
		}
	  }
	  &:last-of-type:not(.unselectable) a {
		border-right: 1px solid $color-lighter-grey;
	  }
	}
	&:last-of-type td:not(.unselectable) a {
	  border-bottom: 1px solid $color-lighter-grey;
	}
  }
}


.boh-confirm-message{
  background-color: $color-white;
  padding: 30px;
  box-shadow: 0 0 20px 0 #eee;
  .boh-confirm-message-title{
	margin-bottom: 30px;
	width: 100%;
	display: block;
	h3{
	  @include font-atrament;
	  font-size: 36px;
	  letter-spacing: .05em !important;
	  text-transform: uppercase;
	  text-align: center;
	  display: inline-block;

	  &:after{
		@include underline;
		border: 1px solid $color-yellow;
	  }
	}
  }
}
