/* Header mobile */

@include breakpoint-lt("md") {
	header {
		height: 72px;

		.container {
			height: 72px;
		}

		.site-logo {
			height: 54px;
		}

		.menu-toggle {
			display: block;
			position: absolute;
			width: 48px;
			height: 48px;
			top: 12px;
			right: 12px;
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 30px;
				top: 50%;
				left: 50%;
				transform-origin: center center;
				transform: translate(-50%, -50%);
				transition: 0.3s;
			}
			&::before {
				height: 23px;
				border: 3px solid $color-yellow;
				border-width: 3px 0;
			}
			&::after {
				height: 3px;
				background: $color-yellow;
			}
		}

		.header-right {
			display: block;
			position: fixed;
			top: 72px;
			bottom: 0;
			left: 100vw;
			width: 100vw;
			background: rgba(32, 32, 32, 0.95);
			margin: 0;
			padding: 0;
			transition: $ease-linear;

			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			nav {
				position: static;
				transform: none;
				display: block;
				margin: 40px auto;
				padding: 0 20px;
				max-width: 360px;

				li {
					margin: 0;
					padding: 0;
					display: block;
					position: relative;

					ul {
						position: static;
						width: auto;
						padding: 0;
						background: none;
						margin-left: 20px;
						box-shadow: none;
					}
					&:hover ul {
						display: none;
					}
					&.expanded ul {
						display: block;
					}
				}

				.mobile-expander {
					display: block;
					position: absolute;
					top: 4px;
					right: 0;
					width: 36px;
					height: 36px;
					cursor: pointer;

					&::after {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						margin: 12px 0 0 12px;
						border: 2px solid $color-yellow;
						border-width: 2px 2px 0 0;
						transform: rotate(135deg);
						transition: 0.3s;
					}
				}

				.expanded .mobile-expander::after {
					transform: rotate(-45deg);
				}

				a {
					display: block;
					margin: 0;

					color: #fff;
					font-size: em(24px);
					line-height: (50 / 24);
					padding: 0;

					&.menu-item-has-children {
						margin-right: 36px;
					}

					&::after {
						display: none;
					}

					&:hover,
					&.active {
						color: $color-yellow;
						text-decoration: none;
					}
				}

				.current-menu-ancestor > a,
				.current-menu-item > a {
					color: $color-yellow;
				}
			}

			ul a {
				font-size: em(18px);
			}
		}

		.extra {
			flex-direction: column;
		}

		.social-media-icons {
			position: relative;
			top: 0;
			transform: none;
			right: 0;
			justify-content: center;
			padding-right: 0;
			a:first-child {
				margin-left: 0;
			}
		}
		.user-favourite-count {
			display: none;
		}
		.mobile-search-wrapper {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;

			.search-form-wrapper {
				width: 100%;
				max-width: 320px;
				margin: 30px 35px;
				position: relative;
				height: 27px;
				form > div:before {
					left: initial;
					right: 0;
				}
			}
			input[type="text"] {
				background-color: transparent;
				color: $color-white;
				padding-left: 0;
			}
			.search-toggle {
				display: none;
			}
			input[type="submit"] {
				right: 0;
			}
		}
	}

	body {
		padding-top: 72px;

		&.mobile-menu-open {
			overflow: hidden;

			.menu-toggle {
				&::before {
					height: 0;
					border-width: 1.5px 0;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
				&::after {
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}

			.header-right {
				left: 0;
			}
		}
	}
}
