

.news-and-media {
	.news-filters {
		margin-top: 40px;
		&.affix{
			padding-top: 15px;
		}
		ul {
			display: flex;
		    margin: 0;
		    padding: 0;
		    align-items: center;
	  		justify-content: center;
	      	flex-flow: row wrap;
	      	align-content: flex-end;
	      	li {
	      		&::before{
	      			display: none;
	      		}
		    	list-style: none;
		    	margin: 0 20px;
		    	text-transform: uppercase;
		    	border-bottom: 1px solid transparent;
		    	@include font-atrament-semibold;
				letter-spacing: .075em;
				font-size: 23px;
				cursor: pointer;
        		margin-bottom: 15px;
		    	&.active, 
				&:hover {
		    		border-color: $color-yellow;
		    	}
		    }
		}
    	@include breakpoint-lt('sm') {
	      	margin-top: 0;
	     	ul{
	        	flex-direction: column;
		        li{
		          margin-bottom: 10px;
		        }
	      	}        
	    }
	}
	
	.news-tiles {
		display: flex;
  		flex-wrap: wrap;
  		margin-top: 80px;
		margin-left: -15px;
 		margin-right: -15px;
		
		@include news-tile;
		
		&.no-filter {
			margin-top: 40px;
		}
  	}
}
