.promotion-block{
	.promotion-image-wrapper{
		width: 50%;
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	    background-size: cover;
	    background-position: center;
	}
	.section-wrapper{
		padding: 25px 0px;
   		min-height: 400px;
   		.promotion-title {
		    font-size: 48px;
		}
		.promotion-button{
			@include oh-link;
			@include font-atrament;
			letter-spacing: .05em;
		}
	}
}

@include breakpoint-lt('md') {
	.promotion-block{
		.promotion-image-wrapper{
			width: 100%;
			position: relative;
			min-height: 360px;
		}
		.section-wrapper{
			padding: 40px 0px;
			min-height: initial;
		}
	}
}