.homepage-slider-wrapper {
    .slide-wrapper, .slide-wrapper.slick-slide {
        font-size: 16px;
    	display: flex;
        height: 600px;
    	align-items: center;
    	background-size: cover;
    	background-position: center;
      position: relative;
      .slide-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 10;
      }
    	.slide-content-wrapper {
    		text-align: center;
    		color: $color-white;
    		max-width: 670px;
    		margin: 0 auto;
            padding: 0 15px;
            position: relative;
            z-index: 20;
    		.main-heading {
    			color: $color-yellow;
    			display: inline-block;
			    border-bottom: 3px solid;
			    padding-bottom: 10px;
			    font-size: 4.25em;
                margin-bottom: 28px;
                letter-spacing: .05em;
                text-transform: uppercase;
    		}
    		.sub-heading {
    			@include Neutraface2Text-Demi;
    			font-size: 2.25em;
    		}

    	}
    }

    .slick-dots{
        bottom: 15px !important;
    }
}

@include breakpoint-lt('lg') {
  .homepage-slider-wrapper {
        .slide-wrapper {
            height: 600px;
        }
    }
}
@include breakpoint-lt('md') {
   .homepage-slider-wrapper {
        .slide-wrapper {
            height: 450px;
        }
    }
}
@include breakpoint-lt('sm') {
    .homepage-slider-wrapper {
        .slide-wrapper {
            height: 300px;
            font-size: .625em;
            .slide-content-wrapper{
                max-width: 500px;
            }
        }
        .slick-arrow {
            &.slick-prev{
                left: 0px;
            }
            &.slick-next{
                right: 0px;
            }
        }
    }
}


// Slick Arrow (when used)
.slick-arrow {
    border: none;
    text-indent: -999999px;
    white-space: nowrap;
    overflow: hidden;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1;
    padding: 15px 20px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-color: transparent;
    }
	&::before {
		content: "\64";
		@include icon-font;
		text-indent: 0;
		color: #fff;
		font-size: 36px;
		line-height: 60px;
		width: 40px;
		height: 60px;
		display: block;
		margin-right: 0;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

    &.slick-prev{
        left: 20px;
        &::before{
			content: "\64";
        }
    }
    &.slick-next{
        right: 20px;
        &::before{
			content: "\65";
        }
    }
}

// Slick Dots (when used)
.slick-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&::before {
				content: '';
				display: block;
				font-family: 'slick';
				position: absolute;
				top: 0;
				left: 0;
				width: 8px;
				height: 8px;
				border: 2px solid #9b9b9f;
				border-radius: 50%;
			}
		}
	}

	li.slick-active button::before {
		border: 2px solid $color-yellow;
		background: $color-yellow;
	}
}
