.two-narrow-columns{
	.row{
		> div[class^="col"][class$="6"]{
			&:first-child{
				@include breakpoint-gt('sm') {
					padding-right: 80px;
				}
			}
			&:last-child{
				@include breakpoint-gt('sm') {
					padding-left: 80px;
				}
			}
			h4{
				text-transform: uppercase;
				@include font-atrament-semibold;
				letter-spacing: .05em;
				margin-bottom: 30px;
			}
		}
	}
}