@mixin button-black() {
  @include button-variant($color-white, $color-text-body, $color-text-body);
  @include font-atrament-semibold();
  padding: .75rem 1.65rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.btn-black {
  @include button-black();
}

body.page-template-template-my-buildings {

  .UpdateBuilding-container {
	margin-bottom: 5rem;

	.Tab-wrapper {
	  a.tab {
		display: block;
		width: 100%;
		margin-bottom: 20px;

		&:focus, &:active {
		  outline: none;
		}

		&.active button {
		  background-color: $color-yellow;
		  border-color: $color-yellow;
		  color: $color-white;
		}

		button {
		  @include font-atrament();
		  width: 100%;
		  font-size: 20px;
		  letter-spacing: 0.75px;
		  text-align: left;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  padding: 16px 25px;
		  background-color: $background-color-footer;
		  border-color: $background-color-footer;

		  &:focus, &:active {
			outline: none;
		  }

		  span {
			white-space: normal;
		  }

		  i {
			font-size: 12px;
		  }
		}
	  }
	}

	.Form-wrapper {

	  form {
		@include breakpoint('md') {
		  background-color: $background-color-footer;
		  padding: 6.5rem 5rem;
		}

		&.FinaliseAndSubmit {
		  .terms {
			@include font-atrament-semibold();
			font-size: 20px;
			letter-spacing: 0.30px;
		  }

		  .agree label {
			@include Neutraface2Text-Book();
			font-size: 20px;
			letter-spacing: 0;
		  }

		  button[type="submit"] {
			margin-left: 15px;
		  }
		}

		button {
		  @include button-black();

		  &.fg-submitButton {
			margin-top: 3rem;
		  }
		}

		.form-group {

		  @include breakpoint('md') {
			display: flex;
			// align-items: end;

			&.isRightAlignLabel label {
			  text-align: right;
			}
		  }

		  // Tours and Building Access => Tour tips
		  // this field has a lot of checkboxes.
		  &.field_5cabf2fc71031 {
			.Input-col {
			  justify-content: space-between;

			  label {
				width: 100%;

				@include breakpoint('md') {
				  margin: 0 !important;
				  display: inline-block;
				  width: 60%;

				  &:nth-child(even) {
					width: 40%;
				  }
				}

			  }

			}
		  }

		  // Tours and Building Access => What additional activities?
		  &.field_5cabf8b969ed7 {
			.Input-col {
			  justify-content: space-between;

			  label {
				width: 100%;

				@include breakpoint('md') {
				  margin: 0 !important;
				  display: inline-block;
				  width: 50%;
				}
			  }

			}
		  }

		  &.Datepicker-field {
			//@import '~react-datepicker/dist/react-datepicker.css';
			@import '~react-day-picker/lib/style.css';
			.DayPicker-NavButton {
			  z-index: 999999999;
			}
		  }

		  &.Tab-description {
			margin-bottom: 2.75rem;

			label {
			  @include font-atrament-semibold();
			  font-size: 20px;
			  letter-spacing: 0.30px;
			}
		  }

		  &.required {
			& > label::after {
			  content: '*';
			  color: $color-yellow;
			  display: inline-block;
			  position: absolute;
			}
		  }

		  &.has-tooltip {
			display: flex;
			// align-items: center;

			.helper {
			  order: 2;
			  background-color: $color-yellow;
			  padding: 3px 6px;
			  border-radius: 25px;
			  margin-left: 0.55rem;
			}
		  }

		  &.ImageField {

			div.Image-dropzone {
			  .row.upload-inprogress {
				display: flex;
				align-items: center;
			  }
			  .row.upload-done {
				i {
				  cursor: pointer;
				  font-size: 3rem;
				  color: $color-yellow;
				}
			  }
			}

			div.Image-credit input.form-control[disabled] {
			  background-color: $color-white;
			}

			div.dropzone {
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  flex-wrap: wrap;
			  min-height: 7rem;
			  background-color: $color-lightest-grey;
			  border: 2px dashed $color-yellow;
			  p {
				margin-bottom: 0;
				text-align: center;
				display: block;

				span {
				  color: $color-yellow;
				  text-decoration: underline;
				  cursor: pointer;
				}
			  }
			}
		  }

		  .Input-col {
			display: flex;
			flex-wrap: wrap;

			label.checkbox-inline,
			label.radio-inline {
			  margin-left: 1rem;
			  margin-right: 1rem;
			}
		  }

		  label {
			@include font-atrament();
			color: $color-text-body;
			font-size: 20px;
			letter-spacing: 0.75px;
      line-height: 1.2;
			text-align: left;

			span.helper.helper-optional {
			  color: $color-yellow;
			}
		  }
		}
      &.Form-STAFFING {
        .form-group {
          flex-wrap: wrap;
          &:nth-child(3),
          &:nth-child(4) {
            &::before {
              @include font-atrament-semibold();
              font-size: 20px;
              letter-spacing: 0.30px;
              color: #444;
              line-height: 1.2;
              padding: 0 15px 15px 15px;
              width: 100%;
            }
          }
          &:nth-child(3) {
            &::before {
              content: "BOH can provide a limited number of volunteers to assist with general duties such as managing queues, registration management for tours & pre-booked tours, counting visitors, greeting guests and directional support inside the building.";
            }
          }
          &:nth-child(4) {
            &::before {
              content: "Each building MUST have its own staff who is the contact person for the site and responsible for emergencies and/or fire evacuation on BOH event dates.";
            }
          }
        }
      }
	  }
	}

  }

  .BuildingList-container {
	margin-bottom: 5rem;

	.BuildingItem-row {
	  margin-top: 2.5rem;
	  margin-bottom: 2.5rem;

	  .meta {
		margin-bottom: 1rem;
		text-align: center;

		&.meta-image {
		  height: 132px;
		  background-position: center;
		  background-size: cover;

		}

		&.meta-name {
		  @include font-atrament();
		  font-size: 34px;
		  text-align: center;
		  text-transform: uppercase;
		  color: $color-text-body;

		  @include breakpoint('md') {
			text-align: left;
		  }
		}

		&.meta-update-button {
		  display: block;
		  text-align: center;
		  margin-left: auto;
		  margin-right: auto;

		  button {
			@include button-black();
		  }
		}

		&.meta-status {
		  @include Neutraface2Text-Demi();
		  text-transform: uppercase;
		  color: $color-yellow;

		  &.approved, &.submitted {
			color: $color-black-1;
		  }

		  @include breakpoint('md') {
			text-align: right;
			font-size: 18px;
		  }
		}

	  }
	}

	.row:not(:last-child) .spacer {
	  @include breakpoint('md') {
		border-bottom: $color-grey 1px solid;
	  }
	}
  }

  .TopNav-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $color-lightest-grey;
	margin-bottom: 5.25rem;

	.Back,
	.LogOut {
	  @include font-atrament-semibold();
	  font-size: 22px;
	  letter-spacing: 0.3px;
	  text-align: center;

	  a {
		color: $color-text-body;
	  }

	  i, span {
		vertical-align: middle;
		text-transform: uppercase;
	  }

	  i {
		font-size: 19px;
		display: none;
		@include breakpoint('md') {
		  display: inline-block;
		}
	  }
	}

	@include breakpoint('md') {
	  .Back {
		text-align: left;
	  }
	  .LogOut {
		text-align: right;
	  }
	}
  }

  .Intro-container {
	margin-bottom: 2.625rem;

	@include breakpoint('md') {
	  margin-bottom: 4.625rem;
	}

	h1.title, p {
	  color: $color-text-body;
	}

	h1.title {
	  letter-spacing: .05em;
	  border-bottom: $color-yellow 4px solid;
	  padding-bottom: 4px;
	  margin-bottom: 3.75rem;
	  font-size: 3.25em;
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  text-transform: uppercase;
	}
  }

  .Unauthenticated-wrapper {
	margin-top: 6rem;

	.Intro-container {
	  margin-bottom: 2rem;
	}

	.Login-container {
	  .Form-row {
		padding-bottom: 5rem;

		p.toggler-wrapper {
		  text-align: center;

		  &.text-left {
			text-align: left;
		  }

		  a.toggler {
			font-weight: bold;
			color: $color-yellow;
		  }
		}

		.somfrp-lost-pass-form-text {
		  margin-bottom: 1rem;
		}

		.som-password-sent-message {
		  margin-bottom: 10px;
		}

		form {
		  p:not(.login-submit) {
			@extend .form-group;

			input {
			  @extend .form-control;
			}
		  }

		  legend {
			border-bottom: none;
		  }

		  p.login-submit {
			text-align: center;

			input[type="submit"] {
			  @extend .btn;
			  @extend .btn-default;
			  @include button-black();
			}
		  }

		  button[type="submit"] {
			@extend .btn;
			@extend .btn-default;
			@include button-black();
		  }
		}
	  }
	}
  }

  .my-5rem {
	margin-top: 5rem;
	margin-bottom: 5rem;
  }

  .d-inline-block {
	display: inline-block;
  }

  .d-flex {
	display: flex;
  }

  .d-md-flex {
	@include breakpoint('md') {
	  display: flex;
	}
  }

  .align-items-center {
	align-items: center;
  }

  .text-center {
	text-align: center;
  }

  .text-right {
	text-align: right;
  }

  .text-bold {
	font-weight: 600 !important;
  }

  .loader {
	text-align: center;
	font-size: 5rem;
	color: $color-yellow;

	&.loader-inline {
	  font-size: inherit;
	  color: $color-white;
	  display: inline-block;
	  padding-left: 0.55rem;
	}
  }
  .fade.in.modal {
	display: flex !important;
	align-items: center;
  }
}

label {
  &[for="WORDPRESS_POST_TITLE.value"],
  &[for="field_5ca6f467dcaed.value"],
  &[for="field_5cac43b5e7c32.value"],
  &[for="field_5b4bfd944a5c9.value"],
  &[for="field_5cac821b3a483.value"],
  &[for="field_5cac851a43b82.value"] {
    &::before {
      content: "1) ";
    }
  }
  &[for="field_5b555f4bf6e67.value"],
  &[for="field_5caae315ec23c.value"],
  &[for="field_5cac43cae7c33.value"],
  &[for="field_5cb40d7cb1a22.value"],
  &[for="field_5b555bb7097d8.value"] {
    &::before {
      content: "2) ";
    }
  }
  &[for="field_5b5543fb965b0.value"],
  &[for="field_5cac85c49acb3.value"],
  &[for="field_62b96643e869f.value"],
  &[for="field_5b4bfd094a5c8.value"] {
    &::before {
      content: "3) ";
    }
  }
  &[for="field_5b55440b965b1.value.0.field_5b554428965b2"],
  &[for="field_5b5556ab03a05.value"],
  &[for="field_5b555e5b4f01b.value"] {
    &::before {
      content: "4) ";
    }
  }
  &[for="field_5b55440b965b1.value.1.field_5b554428965b2"],
  &[for="field_5b5556ab03a05.value"],
  &[for="field_5cac809e03e7f.value"] {
    &::before {
      content: "5) ";
    }
  }
  &[for="field_62b91798fe981.value"],
  &[for="field_5b5666f19561d.value"],
  &[for="field_5b4bfdbb4a5ca.value"] {
    &::before {
      content: "6) ";
    }
  }
  &[for="field_62b91b5b6454f.value"],
  &[for="field_5b555e774f01c.value"] {
    &::before {
      content: "7) ";
    }
  }
  &[for="field_62b91d9d32f55.value"] {
    &::before {
      content: "8) ";
    }
  }
  &[for="field_62b91ea2c40ae.value"] {
    &::before {
      content: "9) ";
    }
  }
  &[for="field_5cabf2fc71031.value"] {
    &::before {
      content: "10) ";
    }
  }
  &[for="field_5cabf84669ed4.value"] {
    &::before {
      content: "11) ";
    }
  }
  &[for="field_5cabf85f69ed5.value"] {
    &::before {
      content: "12) ";
    }
  }
  &[for="field_5cabf89e69ed6.value"] {
    &::before {
      content: "13) ";
    }
  }
  &[for="field_5cabf8b969ed7.value"] {
    &::before {
      content: "14) ";
    }
  }
  &[for="field_62b9205817231.value"] {
    &::before {
      content: "15) ";
    }
  }
  &[for="field_5cabf7e969ed3.value"] {
    &::before {
      content: "16) ";
    }
  }
  &[for="field_5b5670cf9b1ae.value"] {
    &::before {
      content: "17) ";
    }
  }
  &[for="field_62b933bfde1e7.value"] {
    &::before {
      content: "18) ";
    }
  }
  &[for="field_62b9369fd4bf5.value"] {
    &::before {
      content: "19) ";
    }
  }
  &[for="field_62b937f9138a6.value"] {
    &::before {
      content: "20) ";
    }
  }
}
