<div class="accordion">
{% for item in content.accordion_items %}
	<div class=" card showless">
		<div class="title"><h4>{{item.accordion_title}}</h4><div class="button-read-more" target-data="card"><button>Read More</button></div></div>
		<div class="card-content">{{item.accordion_content}}</div>
	</div>
{% endfor %}	
</div>		
