{{ content.intro_message }}
<div class="competition-call-action">
	
	<div class="button-wrapper">
		{% if content.entry_close_date | date('U') > date() | date('U') %}
			<a href="#" class="regular-button" data-modal="competition_modal">Enter Competition</a>
		{% else %}
			<a class="regular-button closed" disabled="disabled">Competition Closed</a>
		{% endif %}
	</div>
	<div class="competition-sponsor">
		<span>Competition Sponsor</span>
		<div class="image-wrapper"><img src="{{ content.competition_sponsor.url }}"></div>
	</div>
</div>


