<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<span>Copyright 2018 © Brisbane Open House<br/>PO Box 8316 Woolloongabba Qld 4102</span>
			</div>
			<div class="col-sm-6">
				<a href="/" class="footer-logo"><img src="{{assets}}/images/header-logo.svg" alt="{{ site.name }}"></a>
			</div>
		</div>	
	</div>
</footer>