<div class="section contact-form-section">
	<div class="container">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="section-wrapper form-section-wrapper">
				{{ function('do_shortcode',content.form_shortcode) }}
			</div>
		</div>
	</div>
</div>