<div class="section section-front-sponsors">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-3 title-wrapper">
				<h2 class="title"><span>Partners </span>&amp; Sponsors</h2>
			</div>
			<div class="col-lg-10 col-md-9">
				<div class="slider" data-slick='{"arrows":false,"variableWidth":true,"dots":false,"autoplay":true,"autoplaySpeed":500}'>
				{% for sponsor_type in sponsor_types %}
					{% if sponsors[sponsor_type.slug]|length > 0 %}
					
						{% for sponsor in sponsors[sponsor_type.slug] %}
						<div class="slide-wrapper {% if loop.first %}slide-wrapper-first{% endif %}">
							{% if loop.first %}<h4>{{ sponsor_type.name }}</h4>{% endif %}
							{% if sponsor.website_url %}<a href="{{sponsor.website_url}}" target="_blank">{% endif %}
							<img src="{{ Image(sponsor.thumbnail).src }}" alt="{{ Image(sponsor.thumbnail).alt }}">
							{% if sponsor.website_url %}</a>{% endif %}
						</div>	
						{% endfor %}
						
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>	
	</div>
</div>