<div id="modal-universal" class="modal-container">
	<a class="modal-overlay" href="#modalClose"></a>
	<div class="boh-modal">
		<a class="modal-close" href="#modalClose"></a>
		<div class="loader"></div>
		<div class="content"></div>
	</div>
</div>