<div class="section newsletter">
	<div class="container">
		<div class="row">
		{% filter shortcodes %}
			[gravityform id=1 title=true description=false ajax=true]
		{% endfilter %}
		</div>
	</div>
</div>