<div class="news-before-content before-content"></div>
<div class="building-content">
	<div class="container">
		<div class="section-wrapper">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 post-body-wrapper">
					<div class="post-body">
						{{ post.content }}
					</div>
				</div>					
			</div>
			
			{% if news_collection %}
			<div class="row explore-news" data-category="{{ post.category[0].slug }}" data-post-id="{{ post.id }}">
				<div class="col-md-12">	
					<div class="section-title">
						<h2>Explore {{ post.category[0].name }}</h2>
					</div>
					<div class="explore-news-result">
						{% include 'json/news-tile.twig' %}
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
	</div>
</div>
