{% if user %}
	<div class="section">
		<div class="container">
			<div class="section-wrapper">
				<p><center>You are already logged in.</center></p>
			</div>
		</div>
	</div>
{% else %}
	<div class="section user-login-form-wrapper">
		<div class="container">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="section-wrapper">

					<div class="open-house-user-forms">
						<ul class="nav nav-tabs" role="tablist">
							<li class="forgot-password active" form-name="forgot-password" style="display: list-item;">
								<a href="#forgot_password" aria-controls="forgot_password" role="tab" data-toggle="tab" aria-expanded="true">Forgot Password</a>
							</li>
						</ul>
					{{ function('do_shortcode','[reset_password]') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif%}