{% extends 'layouts/base.twig' %}

{% block banner %}

{% include 'partials/banner.twig' %}

{% endblock %}

{% block content %}
<!-- content -->

	{% set contents = post.get_field('content') %}
	{% for content in contents %}			
		{% if content.acf_fc_layout == "competition_nav" %}
			{% include 'partials/competition_nav.twig' %}
		{% endif %}
	{% endfor %}

	<div class="page-content-wrapper">
		{% for content in contents %}
			{% if content.acf_fc_layout == "narrow_text" %}
				<div class="container">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							<div class="padding-bottom">
								{{ content.body }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if content.acf_fc_layout == "accordion" %}
				<div class="container">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							{% include 'partials/accordion.twig' %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if content.acf_fc_layout == "competition_call_to_action" %}
				<div class="container">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							{% include 'partials/competition_call_to_action.twig' %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if content.acf_fc_layout == "events" %}
				{% include 'partials/events.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "buildings" %}
				{% include 'partials/buildings.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "faqs" %}
				{% include 'partials/faqs.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "form" %}
				{% include 'partials/form.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "two_narrow_columns" %}
				{% include 'partials/two-narrow-columns.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "sponsors" %}
				<div class="padding-bottom">
				{% include 'partials/sponsors.twig' %}
				</div>
			{% endif %}
			{% if content.acf_fc_layout == "user_shortlist" %}
				{% include 'partials/user_shortlist.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "user_login_form" %}
				{% include 'partials/login-form.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "user_password_reset_form" %}
				{% include 'partials/password-reset.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "instagram_feed" %}
				{% include 'partials/instagram_feed.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "previous_winners" %}
				{% include 'partials/previous_winners.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "current_winners" %}
				{% include 'partials/current_winners.twig' %}
			{% endif %}
			{% if content.acf_fc_layout == "news_and_media" %}
				{% include 'partials/news_and_media.twig' %}
			{% endif %}
		{% endfor %}
	</div>
	{% for content in contents %}
		{% if content.acf_fc_layout == "promotion_block" %}
			{% include 'partials/promotion_block.twig' %}
		{% endif %}
	{% endfor %}
	
<!-- ./content -->
{% endblock %}