@mixin button-black() {
  @include button-variant($color-white, $color-text-body, $color-text-body);
  @include font-atrament-semibold();
  padding: .75rem 1.65rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.btn-black {
  @include button-black();
}

body.page-template-template-my-buildings {

  .UpdateBuilding-container {
	margin-bottom: 5rem;

	.Tab-wrapper {
	  a.tab {
		display: block;
		width: 100%;
		margin-bottom: 20px;

		&:focus, &:active {
		  outline: none;
		}

		&.active button {
		  background-color: $color-yellow;
		  border-color: $color-yellow;
		  color: $color-white;
		}

		button {
		  @include font-atrament();
		  width: 100%;
		  font-size: 20px;
		  letter-spacing: 0.75px;
		  text-align: left;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  padding: 16px 25px;
		  background-color: $background-color-footer;
		  border-color: $background-color-footer;

		  &:focus, &:active {
			outline: none;
		  }

		  span {
			white-space: normal;
		  }

		  i {
			font-size: 12px;
		  }
		}
	  }
	}

	.Form-wrapper {

	  form {
		@include breakpoint('md') {
		  background-color: $background-color-footer;
		  padding: 6.5rem 5rem;
		}

		&.FinaliseAndSubmit {
		  .terms {
			@include font-atrament-semibold();
			font-size: 20px;
			letter-spacing: 0.30px;
		  }

		  .agree label {
			@include Neutraface2Text-Book();
			font-size: 20px;
			letter-spacing: 0;
		  }

		  button[type="submit"] {
			margin-left: 15px;
		  }
		}

		button {
		  @include button-black();

		  &.fg-submitButton {
			margin-top: 3rem;
		  }
		}

		.form-group {

		  @include breakpoint('md') {
			display: flex;
			align-items: end;

			&.isRightAlignLabel label {
			  text-align: right;
			}
		  }

		  // Tours and Building Access => Tour tips
		  // this field has a lot of checkboxes.
		  &.field_5cabf2fc71031 {
			.Input-col {
			  justify-content: space-between;

			  label {
				width: 100%;

				@include breakpoint('md') {
				  margin: 0 !important;
				  display: inline-block;
				  width: 60%;

				  &:nth-child(even) {
					width: 40%;
				  }
				}

			  }

			}
		  }

		  // Tours and Building Access => What additional activities?
		  &.field_5cabf8b969ed7 {
			.Input-col {
			  justify-content: space-between;

			  label {
				width: 100%;

				@include breakpoint('md') {
				  margin: 0 !important;
				  display: inline-block;
				  width: 50%;
				}
			  }

			}
		  }

		  &.Datepicker-field {
			//@import '~react-datepicker/dist/react-datepicker.css';
			@import '~react-day-picker/lib/style.css';
			.DayPicker-NavButton {
			  z-index: 999999999;
			}
		  }

		  &.Tab-description {
			margin-bottom: 2.75rem;

			label {
			  @include font-atrament-semibold();
			  font-size: 20px;
			  letter-spacing: 0.30px;
			}
		  }

		  &.required {
			& > label::after {
			  content: '*';
			  color: $color-yellow;
			  display: inline-block;
			  position: absolute;
			}
		  }

		  &.has-tooltip {
			display: flex;
			align-items: center;

			.helper {
			  order: 2;
			  background-color: $color-yellow;
			  padding: 3px 6px;
			  border-radius: 25px;
			  margin-left: 0.55rem;
			}
		  }

		  &.ImageField {

			div.Image-dropzone {
			  .row.upload-inprogress {
				display: flex;
				align-items: center;
			  }
			  .row.upload-done {
				i {
				  cursor: pointer;
				  font-size: 3rem;
				  color: $color-yellow;
				}
			  }
			}

			div.Image-credit input.form-control[disabled] {
			  background-color: $color-white;
			}

			div.dropzone {
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  flex-wrap: wrap;
			  min-height: 7rem;
			  background-color: $color-lightest-grey;
			  border: 2px dashed $color-yellow;
			  p {
				margin-bottom: 0;
				text-align: center;
				display: block;

				span {
				  color: $color-yellow;
				  text-decoration: underline;
				  cursor: pointer;
				}
			  }
			}
		  }

		  .Input-col {
			display: flex;
			flex-wrap: wrap;

			label.checkbox-inline,
			label.radio-inline {
			  margin-left: 1rem;
			  margin-right: 1rem;
			}
		  }

		  label {
			@include font-atrament();
			color: $color-text-body;
			font-size: 20px;
			letter-spacing: 0.75px;
			text-align: left;

			span.helper.helper-optional {
			  color: $color-yellow;
			}
		  }
		}
	  }
	}

  }

  .BuildingList-container {
	margin-bottom: 5rem;

	.BuildingItem-row {
	  margin-top: 2.5rem;
	  margin-bottom: 2.5rem;

	  .meta {
		margin-bottom: 1rem;
		text-align: center;

		&.meta-image {
		  height: 132px;
		  background-position: center;
		  background-size: cover;

		}

		&.meta-name {
		  @include font-atrament();
		  font-size: 34px;
		  text-align: center;
		  text-transform: uppercase;
		  color: $color-text-body;

		  @include breakpoint('md') {
			text-align: left;
		  }
		}

		&.meta-update-button {
		  display: block;
		  text-align: center;
		  margin-left: auto;
		  margin-right: auto;

		  button {
			@include button-black();
		  }
		}

		&.meta-status {
		  @include Neutraface2Text-Demi();
		  text-transform: uppercase;
		  color: $color-yellow;

		  &.approved, &.submitted {
			color: $color-black-1;
		  }

		  @include breakpoint('md') {
			text-align: right;
			font-size: 18px;
		  }
		}

	  }
	}

	.row:not(:last-child) .spacer {
	  @include breakpoint('md') {
		border-bottom: $color-grey 1px solid;
	  }
	}
  }

  .TopNav-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $color-lightest-grey;
	margin-bottom: 5.25rem;

	.Back,
	.LogOut {
	  @include font-atrament-semibold();
	  font-size: 22px;
	  letter-spacing: 0.3px;
	  text-align: center;

	  a {
		color: $color-text-body;
	  }

	  i, span {
		vertical-align: middle;
		text-transform: uppercase;
	  }

	  i {
		font-size: 19px;
		display: none;
		@include breakpoint('md') {
		  display: inline-block;
		}
	  }
	}

	@include breakpoint('md') {
	  .Back {
		text-align: left;
	  }
	  .LogOut {
		text-align: right;
	  }
	}
  }

  .Intro-container {
	margin-bottom: 2.625rem;

	@include breakpoint('md') {
	  margin-bottom: 4.625rem;
	}

	h1.title, p {
	  color: $color-text-body;
	}

	h1.title {
	  letter-spacing: .05em;
	  border-bottom: $color-yellow 4px solid;
	  padding-bottom: 4px;
	  margin-bottom: 3.75rem;
	  font-size: 3.25em;
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  text-transform: uppercase;
	}
  }

  .Unauthenticated-wrapper {
	margin-top: 6rem;

	.Intro-container {
	  margin-bottom: 2rem;
	}

	.Login-container {
	  .Form-row {
		padding-bottom: 5rem;

		p.toggler-wrapper {
		  text-align: center;

		  &.text-left {
			text-align: left;
		  }

		  a.toggler {
			font-weight: bold;
			color: $color-yellow;
		  }
		}

		.somfrp-lost-pass-form-text {
		  margin-bottom: 1rem;
		}

		.som-password-sent-message {
		  margin-bottom: 10px;
		}

		form {
		  p:not(.login-submit) {
			@extend .form-group;

			input {
			  @extend .form-control;
			}
		  }

		  legend {
			border-bottom: none;
		  }

		  p.login-submit {
			text-align: center;

			input[type="submit"] {
			  @extend .btn;
			  @extend .btn-default;
			  @include button-black();
			}
		  }

		  button[type="submit"] {
			@extend .btn;
			@extend .btn-default;
			@include button-black();
		  }
		}
	  }
	}
  }

  .my-5rem {
	margin-top: 5rem;
	margin-bottom: 5rem;
  }

  .d-inline-block {
	display: inline-block;
  }

  .d-flex {
	display: flex;
  }

  .d-md-flex {
	@include breakpoint('md') {
	  display: flex;
	}
  }

  .align-items-center {
	align-items: center;
  }

  .text-center {
	text-align: center;
  }

  .text-right {
	text-align: right;
  }

  .text-bold {
	font-weight: 600 !important;
  }

  .loader {
	text-align: center;
	font-size: 5rem;
	color: $color-yellow;

	&.loader-inline {
	  font-size: inherit;
	  color: $color-white;
	  display: inline-block;
	  padding-left: 0.55rem;
	}
  }
  .fade.in.modal {
	display: flex !important;
	align-items: center;
  }
}
